<!-- PASTE INTO VIEWS/CONTACT/thank-you.ejs -->
<% include ../partials/header.ejs %>
<div class="vertical-center">
    <div class="container">
        <div class="text-center">
            <i class="far fa-check-circle text-success fa-10x m-2 animated zoomIn fast"></i>
            <h2 class="apertura text-uppercase animated fadeIn delay-1s"><strong>Thank you</strong></h2>
            <h5 class="apertura text-uppercase animated fadeIn delay-1s slower">We got your submission</h5>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>
<!-- END Thank-you.ejs -->
