<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.goodfellastech.com"> Good Fellas Technology LLC</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/assets/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/assets/js/mdb.min.js"></script>
    <script>
        // initialize scrollspy
        $('body').scrollspy({
            target: '.dotted-scrollspy'
        });

        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("assets/mdb-lightbox-ui.html");
        });
        $('.navbar-collapse a').click(function(){
            $(".navbar-collapse").collapse('hide');
        });

        /* WOW.js init */
        new WOW().init();

    </script>
</body>
</html>