<!-- PASTE IN Views/Services/create.ejs -->
<% include ../partials/header.ejs %>
 <div class="container">
  <form action="/services" method="POST">
   <div class="md-form">
      <input type="text" id="product" class="form-control" name="product" required>
      <label for="product">Product</label>
    </div>
    <div class="md-form">
      <input type="text" id="price" class="form-control" name="price" required>
      <label for="product">Price</label>
    </div>
    <div class="md-form">
      <input type="text" id="image" class="form-control" name="image" required>
      <label for="image">Image URL</label>
    </div>
    <!--Material textarea-->
    <div class="wrapper">
      <div class="form-group">
        <textarea id="description" class="md-textarea form-control" rows="10" name="description" required></textarea>
        <label for="description">Description</label>
      </div>
    </div>
    <div class="md-form">
      <textarea id="productNumber" class="md-textarea form-control" rows="2" name="productNumber" required></textarea>
      <label for="productNumber">Product Number</label>
    </div>
    <!-- SUBMIT BUTTON -->
    <div class="text-center my-4">
      <button type="submit" class=" btn btn-rounded btn-success white-text text-uppercase">create New service</button>
    </div>
  </form>
</div>
<% include ../partials/footer.ejs %>